.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
.return-btn {
  background-color: transparent;
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.img {
  width: 45vw;
  height: 50vh;
}
