.film-info {
  display: flex;
  padding: 50px 200px;
  gap: 50px;
}

.film-info:nth-of-type(even) {
  flex-direction: row-reverse;
}

.film-description {
  text-align: left;
  position: relative;
  font-weight: lighter;
  width: 80%;
}

.film-description::before {
  position: absolute;
  content: "";
  background-image: url("../assets/Sticker.png");
  background-repeat: no-repeat;
  background-size: contain;
  transform: scaleX(-1);
  position: absolute;
  width: 200px;
  height: 300px;
  padding: 150px;
  opacity: 0.2;
}

.film-info:nth-of-type(even) .film-description::before {
  transform: scaleX(1);
}

.film-img {
  position: relative;
}

.film-img img {
  content: "";
  position: relative;
  width: 100%;
  height: auto;
}

.film-img img:last-child {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 15px;
  z-index: -1;
}

.btn {
  position: relative;
  background-color: transparent;
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.btn:hover {
  background-color: purple;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  transition: 0.5s all;
}

@media only screen and (max-width: 980px) {
  .film-info {
    flex-direction: row;
    padding: 100px;
    justify-content: center;
  }
  .film-description {
    width: 100%;
  }
  .film-description::before {
    background-image: none;
    padding: 0;
  }
}

@media only screen and (max-width: 720px) {
  .film-info {
    display: grid;
    grid-template-columns: 1fr;
  }
  .film-img {
    max-width: none;
    max-height: none;
  }
  .film-description {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .film-info {
    padding: 50px;
  }
}
